<a href="https://colab.research.google.com/github/lesya7maltseva/pure-Python-/blob/main/Python_lambda%2Ccomprehansions_%D0%BF%D0%BE%D0%BB%D0%B5%D0%B7%D0%BD%D1%8B%D0%B9_%D1%81%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [
    {
        'name': 'Иван',
        'income': 5000,
        'expenses': 3000,
        'date': '2023-04-01'
    },
    {
        'name': 'Мария',
        'income': 7000,
        'expenses': 6000,
        'date': '2023-04-01'
    }
]

period = '2023-04'

def client_with_largest_gap(data):
  lst_filtered = list(filter(lambda x: x['date'][:-3] == period, data))
  lst_dif = list(map(lambda x: {'name': x['name'], 'dif': x['income'] - x['expenses']}, lst_filtered))
  res = reduce(lambda x,y: x if x['dif']>y['dif'] else y, lst_dif)
  return res['name']

In [ ]:
from functools import reduce
lst_filtered = list(filter(lambda x: x['date'][:-3] == period, data))
lst_dif = list(map(lambda x: {'name': x['name'], 'dif': x['income'] - x['expenses']}, lst_filtered))
res = reduce(lambda x,y: x if x['dif']>y['dif'] else y, lst_dif)
return res['name']

{'name': 'Иван', 'dif': 2000}

In [ ]:
client_with_largest_gap(data)

In [ ]:
#Реализуйте функцию multiply_lists, которая принимает на вход два списка чисел a и b.
#Функция должна умножать элементы списков a и b попарно. Результатом должен быть список произведений.
#Функция multiply_lists принимает на вход два списка чисел a и b и должна вернуть список произведений элементов списков a и b.

In [ ]:
def multiply_lists(a,b):
  res = list(map(lambda x,y: x*y, a,b))
  return res

In [ ]:
a = []
b = [4, 5, 6]
multiply_lists(a,b)

[]

In [ ]:
#Сегодня вашей задачей является написание функции, которая позволит быстро подсчитывать общую сумму продаж по каждому из товаров за последние три года.
#Это поможет узнать, какие товары являются наиболее популярными и прибыльными, и определить, нужно ли корректировать стратегию продаж.
#Напишите функцию total_sales_by_product(table, product_name), которая принимает на вход таблицу продаж и наименование товара,
#а затем возвращает общую сумму продаж данного товара за 2020, 2021 и 2022.

In [ ]:
table = [('Календарь', '2020-01-01', 100.0), ('Календарь', '2023-03-15', 150.0), ('Календарь', '2019-02-28', 200.0)]
product_name = 'Календарь'


def total_sales_by_product(table, product_name):
  start = datetime.strptime('2020-01-01','%Y-%m-%d').date()
  end = datetime.strptime('2022-12-31', '%Y-%m-%d').date()
  lst_product = list(filter(lambda x: x[0] == product_name and (datetime.strptime(x[1], '%Y-%m-%d').date() >= start and datetime.strptime(x[1], '%Y-%m-%d').date() <= end), table))
  res = sum(list(map(lambda x: x[2], lst_product)))
  return res

total_sales_by_product(table, product_name)

100.0

In [ ]:
lst = ['hello', 'world', 'this', 'is', 'a', 'test']
n = 4

In [ ]:
def filter_long_words(n, lst):
  return list(filter(lambda x: len(x)>=n, lst))

In [ ]:
filter_long_words(n, lst)

['hello', 'world', 'this', 'test']

In [ ]:
employees = [ {'name': 'Иванов', 'position': 'секретарь', 'salary': 50000},
                         {'name': 'Сидоров', 'position': 'менеджер', 'salary': 45000},
                         {'name': 'Петров', 'position': 'директор', 'salary': 100000} ]

def sort_employees(employees):
  lst_emp = list(filter(lambda x: x['position'] == 'менеджер' or x['position'] == 'директор', employees))
  return sorted(lst_emp, key = lambda x: x['salary'], reverse = True)

In [ ]:
lst_emp = list(filter(lambda x: x['position'] == 'менеджер' or x['position'] == 'директор', employees))
sorted(lst_emp, key = lambda x: x['salary'], reverse = True)

[{'name': 'Петров', 'position': 'директор', 'salary': 100000},
 {'name': 'Сидоров', 'position': 'менеджер', 'salary': 45000}]

In [ ]:
num = [1, 2, 3, 4, 5]

In [ ]:
def sum_squared_even(num):
  lst_filtered = list(filter(lambda x: x%2 == 0, num))
  res = sum(list(map(lambda x: x**2,lst_filtered)))
  return res

In [ ]:
sum_squared_even(num)

20

In [ ]:
def calculate_top_students (students):
  lst_marks = list(map(lambda x: x[2], students))
  avg_mark = round(sum(lst_marks)/len(lst_marks),2)
  lst_students = list(filter(lambda x: x[2] >= avg_mark,students))
  lst_students = sorted(lst_students, key= lambda x: x[0])
  res = list(map(lambda x: x[0], lst_students))
  return res

In [ ]:
arr = [1, 20, -3, 5, 0]
arr.index(20)

1

In [ ]:
reduce(lambda x,y: x if x > y else y, arr)

20

In [ ]:
d = {'a': 1, 'b': 5, 'c': 0}
type = 'keywise'
order = 'desc'

In [ ]:
dict(sorted(d.items(),key = lambda x: x[1], reverse=False))

{'c': 0, 'a': 1, 'b': 5}

In [ ]:
def sort_dict(d,type,order):
  if type = 'keywise':
    if order = 'desc':
      res = dict(sorted(d.items(),reverse= True))
    else: res = dict(sorted(d.items(),reverse= False))
  else:
    if order = 'desc':
      res = dict(sorted(d.items(), key = lambda x: x[1], reverse= True))
    else: res = dict(sorted(d.items(), key = lambda x: x[1],reverse= False))
  return res

In [ ]:
ref_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
start = 9
stop  = 6
num   = 1000

def list_add_num(ref_list, start, stop, num):
     # напишите свой код ниже
    if len (ref_list) <=start or len (ref_list)<=stop:
        return -1
    elif start > stop :
        res = list(map(lambda x: x + num if ref_list.index(x)>=stop and ref_list.index(x)<= start else x, ref_list))
    else: res = list(map(lambda x: x + num if ref_list.index(x)>= start and ref_list.index(x)<=stop else x, ref_list))
    return res
list_add_num(ref_list, start, stop, num)

[0, 1, 2, 3, 4, 5, 1006, 1007, 1008, 1009]

In [ ]:
lst = [12,24,35,70,88,120,155]
res = [x for x in lst if lst.index(x) not in [0, 2, 4, 6] ]
res

[24, 70, 120]

In [ ]:
lst_1000 = [x for x in range(1,1001)]
lst_1000

In [ ]:
def highest_divisible_digit():
  #создаем список от 0 до 1000
  lst_1000 = [x for x in range(1,1001)]

  #создаем словарь со всеми однозначными делителями
  dict_raw = {}
  for el in lst_1000:
    for i in range(1,10):
      if el%i == 0:
        if el not in dict_raw.keys():
          dict_raw[el] = [i]
        else: dict_raw[el].append(i)
  # Создаем спиок из максимальных делителей
  lst_NOD = list(map(lambda x: max(x),dict_raw.values()))
  # Сцепляем списки в словарь
  dict_NOD = {key:val for key, val in zip(lst_1000, lst_NOD)}
  return dict_NOD

In [ ]:
dict_NOD = {key: max([num for num in range(1,10) if key%num == 0]) for key in lst_1000}
dict_NOD

In [ ]:
s = 'The lazy cat sat on the windowsill and watched the birds outside'

In [ ]:
lst_first = [chr(ord(i) + 1) if ord(i) in range(ord('a'), ord('y')) else i for i in s]

In [ ]:
''.join(lst_first)

'Tif mbzy dbu tbu po uif xjoepxtjmm boe xbudife uif cjset pvutjef'

In [ ]:
arr = [1, -1, 0, -3, 3, 9, 15, 15.1]

In [ ]:
lst_arr = [el if el%3 == 0 else 0 for el in arr ]

In [ ]:
lst_arr

[0, 0, 0, -3, 3, 9, 15, 0]

In [ ]:
tup = ([1], [2, '2'], [[1, 2], [3, 4]], [], ['s'])

In [ ]:
[el for subel in tup for el in subel]

[1, 2, '2', [1, 2], [3, 4], 's']

In [ ]:
arr = [1, 2, (1), 's', [1, 2], None, {1: 2}, (5, )]

In [ ]:
res = [isinstance(el,list) for el in arr]
res

[False, False, False, False, True, False, False, False]

In [ ]:
ids = [1, 2, 3]
names = ['Иван', 'Петр', 'Елена']

In [ ]:
dict_id = {key:val for key, val in zip(ids,names)}
dict_id

{1: 'Иван', 2: 'Петр', 3: 'Елена'}

In [ ]:
sentences = ["Python is a popular programming language", "It was created by Guido van Rossum in 1991"]

stopwords = {'a', 'by', 'in', 'is', 'it', 'of', 'the', 'to', 'was', '1991', 'it', 'programming', 'popular', 'language', 'it'}

lst_words = [el.lower() for word in sentences for el in word.split(' ') if el.lower() not in stopwords]
lst_words
def get_unique_words(sentences, stopwords):
  lst_words = [el.lower() for word in sentences for el in word.split(' ') if el.lower() not in stopwords]
  return lst_words

['python', 'created', 'guido', 'van', 'rossum']

In [ ]:
import string

In [ ]:
def convert_to_numbers(str_):
  dict_alfa = {key:val for key, val in zip(string.ascii_lowercase, range(1,27))}
  str_returned = [dict_alfa.get(alfa.lower()) if alfa.isalpha() else " "  for alfa in list(str_)]
  return str_returned

In [ ]:
def lim_max(nums, limit):
    # напишите свой код ниже
    if len(nums) == 0: return -1
    lst_res = [el for el in nums if el < limit]
    if not lst_res: return -1
    else: res = max(lst_res)
    return res

[8, 5, 12, 12, 15, ' ', 23, 15, 18, 12, 4, ' ']

In [ ]:
nums = (100, )
limit = 50
Ответ = 40

In [ ]:
lst_res = [el for el in nums if el < limit]
if not lst_res: print(-1)

-1

In [ ]:
d = {1:[1], 2:[2,3], 3:[4,5,6]}
d.values()

dict_values([[1], [2, 3], [4, 5, 6]])

In [ ]:
c = {}

In [ ]:
for key, val in d.items():
  if key>1:
    c[key] = val + c[key-1]
  else: c[key] = val

In [ ]:
def get_square_root(x):
  if x < 0:
    raise ValueError("Ошибка: введено отрицательное число")
  else: return x**(0.5)

In [ ]:
get_square_root(-9.0)

In [ ]:
def sum_list(lst_el):
  new_lst = list(map(lambda x: isinstance(x, (int, float)) ,lst_el))
  if False in new_lst:
    raise TypeError('Список содержит нечисловой элемент')
  else:
    return sum(lst_el)

In [ ]:
sum_list([1,2,3])

In [ ]:
def err_processing (d):
  try:
    1/d['denom']
  except ZeroDivisionError as err:
    print(f'Деление на 0 запрещено! Ошибка: {repr(err)}')
  except TypeError as err:
    print(f"Проверьте переданный тип denom! Ошибка: {str(repr(err))}")
  except AttributeError as err:
    print(f"Непредвиденная ошибка: {repr(err)}")

In [ ]:
err_processing({'denom':'s'})

Проверьте переданный тип denom! Ошибка: TypeError("unsupported operand type(s) for /: 'int' and 'str'")

In [ ]:
def full_err_processing(denom):
  res = ''
  try:
    res += f"Результат: {1/denom}\n"
  except Exception as err:
    res += f"{repr(err)}\n"
  else: res += 'Ошибок не было!\n'
  finally: res += 'Главное, все подошло к концу!'
  return res

In [ ]:
def create_dict(**kwargs):
  dict_new ={}
  for key, val in kwargs.items():
    dict_new[key] = val
  return dict_new

In [ ]:
create_dict(x=10, y=None, z=20)

{'x': 10, 'y': None, 'z': 20}

In [ ]:

def auto_print (*args, **way):
  for el in args:
    print(*el, ** way)

In [ ]:
auto_print([1,2,3], [4,5,6], [7,8,9], sep=', ', end='; ')

1, 2, 3; 4, 5, 6; 7, 8, 9;

In [ ]:
def sum_ints(*lists):
  return sum(el if isinstance(el, int) else sum_ints(*el) if isinstance(el, (list, tuple)) else sum(v for v in el.values() if isinstance(v, int)) if isinstance(el, dict) else 0 for el in lists)

In [ ]:
sum_ints([1, [2.1, 3.6], (4.2, 5.3, [6])], {'a': 7.8, 'b': [8, {'c': 9}]})

7

In [ ]:
def check_greater (*args, **kwargs):

In [ ]:
lst2 = [10, 20, 30]
threshold=25

from functools import reduce

In [ ]:
def check_greater(*args, **kwargs):
    strict = kwargs.get('strict')
    max = reduce(lambda x, y: x if x > y  else y, args)
    min = reduce(lambda x, y: x if x < y  else y, args)
    if strict == True:
      return True if max >= threshold and min >= threshold else False
    else:
      return True if max > threshold and min > threshold else False

In [ ]:
#Напишите функцию most_frequent_weekday, которая принимает список дат в формате год-месяц-день и возвращает самый часто встречающийся день недели в этом списке (например, "Monday").
#Если несколько дней встречаются одинаково часто, функция должна вернуть все эти дни.

In [ ]:
from datetime import date
from datetime import datetime
from collections import Counter

In [ ]:
lst_days = ['2023-02-28', '2023-03-01', '2023-03-07', '2023-03-08']

In [ ]:
lst_dates2 = [datetime.strptime(el,'%Y-%m-%d').strftime('%A') for el in lst_days]

In [ ]:
lst_dates2

['Tuesday', 'Wednesday', 'Tuesday', 'Wednesday']

In [ ]:

cnt_days = Counter(lst_dates2)
max_days = max(cnt_days.values())

In [ ]:
lst_filtered = [el[0] for el in cnt_days.items() if el[1] == max_days]
lst_filtered

['Tuesday', 'Wednesday']

In [ ]:
def get_weekdays(lst):
    return [datetime.strptime(el,'%Y-%m-%d').strftime('%A') for el in lst]

In [ ]:
print(get_weekdays(['2023-06-01', '2023-06-02', '2023-06-03']))

['Thursday', 'Friday', 'Saturday']

In [ ]:
lst_2 = ['2023-05-28 12:00:00', '2023-05-28 13:00:00', '2023-05-28 14:00:00', '2023-05-28 15:00:00']

In [ ]:
datetime.strptime(lst_2[1], '%Y-%m-%d %H:%M:%S') - datetime.strptime(lst_2[0], '%Y-%m-%d %H:%M:%S')

datetime.timedelta(seconds=3600)

In [ ]:
from datetime import datetime, timedelta

In [ ]:
def avg_time_diff (lst):
  if len(lst) == 1:
    return float(0)
  else:
    diffs = [datetime.strptime(lst[i], '%Y-%m-%d %H:%M:%S') - datetime.strptime(lst[i-1], '%Y-%m-%d %H:%M:%S') for i in range(1, len(lst))]
    total_diffs = sum(diffs, timedelta())
    total_diffs = total_diffs/len(diffs)
  return total_diffs.total_seconds()

In [ ]:
diffs = [datetime.strptime(lst_2[i], '%Y-%m-%d %H:%M:%S') - datetime.strptime(lst_2[i-1], '%Y-%m-%d %H:%M:%S') for i in range(1, len(lst_2))]
total_diffs = sum(diffs, timedelta())
total_diffs = total_diffs/len(diffs)
total_diffs

datetime.timedelta(seconds=3600)

In [ ]:
lst3 = ['2022-01-01 09:00:00', '2022-01-01 09:15:00', '2022-01-01 09:45:00']

In [ ]:
diffs = [datetime.strptime(lst3[i], '%Y-%m-%d %H:%M:%S') - datetime.strptime(lst3[i-1], '%Y-%m-%d %H:%M:%S') for i in range(1, len(lst3))]